/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #f0e8c4;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.machine{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slots {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: space-around;
}
.slot {
  font-size: 10em;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(197, 197, 197);
  background-color: whitesmoke;
  margin: 0.4em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1 {
  color: #222222;
  text-align: center;
  margin-top: 2em;
  font-weight: bolder;
  background-color: white;
  padding: 1em;
}
button {
  padding-top: 1em;
  padding-bottom:1em;
  padding-right: 3em;
  padding-left: 3em;
  font-size: 2em;
  border-radius: 15px;
  border-color: whitesmoke;
  border-style: solid;
  border-width: 5px;
  color: #da4d43;
  background-color: rgb(255, 234, 176);
  transition: all 1s;
  font-weight: bolder;
}
button:hover {
  transition: all 1s;
  background-color: rgb(223, 192, 120);
}
body {
  background: linear-gradient(
    123deg,
    #2e99b0 0%,
    #2e99b0 40%,
    #fcd77f calc(40% + 1px),
    #fcd77f 60%,
    #ff2e4c calc(60% + 1px),
    #ff2e4c 75%,
    #1e1548 calc(75% + 1px),
    #1e1548 100%
  );
}
.during{
  font-size: 3em;
  color: #ff2e4c;
  background-color: whitesmoke;
}
